<div class="container">
  <h3>Here are the Users: </h3>


   <% @names.each do |name| %>
     <%= name %><br>
   <% end %>
  <%# TODO: 
  1. If user is not signed in - display "Welcome".
  2. If user is signed in then  display all users %>
</div>